body{
    margin: 0;
    background-color: rgba(44, 58, 58, 0.479);
    /* background-color:white; */
    text-align: center;
}
.navi{
    height: 20px;
}
ul{
    list-style-type: none;
    top:0;
    position: fixed;
}
li{
    float:right;
  
}
li a{
       text-decoration: none;
       color: rgb(65, 95, 62);
       text-align: center;
       padding-left: 8px;
}
h1{
    text-align: center;
}
.pro{
    border-radius: 4cm;
    padding-top: 15px;
}

.feed{
    border-radius: 1px;
    /* height: 150px; */
    width:auto;
    /* border: 2px;*/
}
h3{
    /* text-align: left; */
    margin-left: 10px;
}
button{
    text-align: center;
    /* margin: 4px; */
    /* background-color: rgb(230, 96, 96); */
    border-color:crimson;
    background-color:rgb(201, 177, 228);
    /* box-shadow: darkgrey; */
    border-width: 4px;

}
a{
    text-align: center;
    /* justify-content: center; */
}
.fram{
    height: 300px;
    width: 80%;
    text-align: center;
   
}
#mcq
{
   font-size: 20px;
}

.link a{
    text-decoration: none;
}
link{
    text-align: center;
}
.go a{
    text-decoration: none;
    /* background-color: rgb(79, 134, 182); */
    padding: 5px;
    color: black;
    border-radius: 5px;
    text-align: center;
    /* width:%; */
}
.go{
    /* width: 50%; */
    /* display: flex; */
    /* text-align: center; */
    justify-content: center;
    /* width: 70%; */
    /* background-color: black; */
}
/* .quote{ */
    /* display: block; */
    /* text-align: left; */
/* } */