body{
    display: flex;
    justify-content: center;
    background-color: rgb(238, 223, 175);
}
.contain{
padding: 0%;
margin: 0;


}
#question-list{
    margin: 10px;
    padding: 10px;
    display: block;
    
}
ul,li{
    margin: 10px;
    padding: 10px;
    
    font-size: 20px;
}
li{
    background-color:rgb(198, 203, 212);
    border-radius: 5px;
    width: 250px;
    /* text-align: center; */
    /* flex-direction: ron; */
    /* justify-content:center; */
    /* display: flex; */
    /* align-items: center; */
}
ul{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.skip{
    /* display: block; */
    background-color:indigo;
    color: white;
    margin-left: 40px;
    padding: 2px;
    border-radius: 5px;
    float: right;
    width: 40px;
    /* display: block; */

}
#add-question{
    display: flex;
    justify-content: center;

}
#heading{
    display: flex;
    justify-content: center;
    /* position:sticky; */
}
.title{
    text-align: center;
    margin: 0%;
}
/* .questions{
    width: auto;
    height: auto;
} */
.option{
    background-color:blueviolet;
    color: white;
    padding: 2px;
    margin: 2px;
    border-radius: 10px;
    /* border-width: 10px;
    border-color: rgb(197, 28, 56); */
    /* align-items: center; */
}
.opt{
    display:flex;
    /* justify-content:center; */
    align-items: center;
    
}
#score{
 display: none;
 background-color:lightblue;
 color:black ;
 /* justify-content: center; */
 text-align: center;
 width:100%;
 height: 100%;
}
p{
    /* text-align: left; */
    font-size: 20px;
    /* margin-bottom: 0px;
    margin-left: 5px; */
    
}
.btm{
    /* display: flex; */
    text-align: center;
    background-color:black;
    /* position: fixed; */
    color: #9ee4c1;
    border-width: 5px;
    border-color:rgb(95, 185, 173) ;
    box-shadow: salmon;
    width:25%;
    /* font-size:?; */
}
.tim{
    text-align: center;
    /* background-color: black; */
    /* position: fixed; */
}
p{
    font-size: 12px;;
}
.name{
    font-family:unset;
    margin-bottom: 0%;
}